*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: white;
}
a{
    color: black;
}
a:link{
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
}

.section{
    width: 100vh;
}

.icon{
    height: 24px;
    width: 24px;
}

header{
    background-color: #FEF2F2;
    width: 100vh;
}


.navbar{
    display: flex;
    padding: 0.5rem 1rem;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
label>img{
    width: 30px;
}

#menu {
    visibility: hidden;
}
.nabvar--contenedor{
    position: absolute;
    background: white;
    width: 100vh;
    height: 100vh;
    top: 80px;
    min-height: calc( 100vh - 80px );
    padding: 1.5rem 1rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    display: flex;
    left: -100vh;
    transition: left .5s linear;
    z-index: 10;

}

.nav-item{
    list-style: none;
    font-size: 1.25rem;
}
#menu:checked ~ .nabvar--contenedor{
    left: 0;
}
h1{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.icons--header{
    width: 80vh;
    display: flex;
    gap: 4rem;
    justify-content: center;
    list-style: none;
    
}

.icon--header{
    background-size: contain;
    background-color: #F26440;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid #FFFFFF;

}

.contenedor--header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
}
.container--header-uno{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.container--img{
    text-align: center;
    display: flex;
    height: 275px;
    width: 100vh;
    justify-content: center;
    position: relative;
}

.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #286F6C;
    position: absolute;

    top: 0;
    z-index: 0;
}
.img--portada{
    position: absolute;
    z-index: 1;
    top: 0;
    max-width: 200px;
}
.subtitle{
    color: #286F6C;
    font-size: 32px;
    font-weight: 500;
    text-align: left;
    padding: 1rem;
    padding-top: 4rem;
}

.info-personal{
    padding: 1rem;
    color: #ADADAD;
    font-size: 16px;
    font-style:normal;
}
.abilities{
    position: relative;
}
.big-circle{
    width: 95vh;
    height: 95vh;
    border-radius: 50%;
    background-color: #286F6C;
    position: absolute;

    max-width: 500px;
    max-height: 500px;
    top: 0;
    left: -1rem;
    z-index: -1;
}
.small-circle{
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
    background-color: #F26440;
    position: absolute;
    
    max-width: 200px;
    max-height: 200px;
    top: 2rem;
    left: -1rem;
    z-index: -1;
}
.sub-white{
    color: white;
    font-weight: 500;
}
.skills{

    display: flex;

    margin: 1rem auto;
    width: 95vh;
    padding: 1rem;
    gap: 1rem;

    overflow-x: scroll;
    min-width: 500px;
    max-width: 500px;


}
.skill{
    background-color: #FEF2F2;
    display: grid;
    width: 45vh;
    height: 60vh;
    gap: 1rem;
    grid-template-columns: 1fr 3fr;
    grid-auto-rows: 1fr 3fr;

    min-width: 215px;
    max-width: 500px;

    max-height: 300px;
    overflow-y: scroll;
}
.logo--skill{
    width: 55px;
    height: 60px;
    padding: 1rem;
}

.title-skill{
    padding: 1rem;
    font-size: 24px;
    font-weight: 400;
}
.skill-text{
    grid-column: 1/-1;
    font-size: 16px;
    font-weight: 300;
    padding: 0.5rem;
}


.experiencia-skills{
    display: flex;
    gap: 2rem;
    margin-left: 2rem;
    flex-direction: column;

}
.experiencia--contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: auto;
}

.Experiencia-time{
    text-align: center;
    margin-top: 25px;
}
.xp-txt>p{
    font-weight: 300;
    color: #ADADAD;
    font-size: 15px;
}
.xp-txt>h4, .xp-txt ~ h4{
    font-weight: 500;
}

.contacto{
    background-color: white;
}

.text-white{
    padding: 1rem;
    color: white;
}

.portafolio{
    background-color: #286F6C;
    width: 100vh;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 8rem 0 6rem 0;
}
.project{
    width: 80%;
    height: 50%;
    border-radius: 8px;
    text-align: center;
    padding-top: 30px;

    background-color: white;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);

}
.project>img{
    width: 70%;
    height: 80%;
}
.project>h4{
    text-align: center;
    font-weight: 400;
}
.Fitness-app{
    position: absolute;

    top: -93px;
    z-index: 1;
}
.Management-app{
    position: absolute;
    bottom: -93px;
    z-index: 1;
}
.portafolio-text{
    width: 90%;
    height: auto;
    position: absolute;
    top: 40%;
}

.icon-footer{
    background-size: contain;
    background-color: #F26440;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    padding: 15px;
    border: 2px solid #FFFFFF;

}

.contactos{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    text-align: center;
    gap: 6rem;
    padding:2rem 20%;
    padding-bottom: 10rem;
    position: relative;
}
.contact{
    width: 40%;
    z-index: 1;
}

.contactos>div.circle{
    position: absolute;
    width: 210px;
    height: 210px;
    left: -50px;
    z-index: 0;
    background-color: rgb(215, 226, 225);
}

.contact-way{
    color:#286F6C;
    width: 100%;
}
.contact-way ~ p{
    color: #ADADAD;
}
@media screen and (min-width: 600px) {
    .section{
        width: 100%;
    }
    .Home{
        width: 100%;
        height: 390px;
    }
    label>img{
        display: none;
    }
    .nabvar--contenedor{
        position: relative;
        background-color: #FEF2F2;
        width: 100%;
        max-height: 400px;
        top: 0;
        
        flex-direction: row;

        justify-content: space-evenly;
        align-items: center;

        left: 0;
        transition: none;
        z-index: 0;
    }
    #menu{
        width: 30%;
    }
    .contenedor--header{
        display: flex;
        flex-direction: row;
    }
    .title{
        margin-bottom: 2rem;
    }
    .container--header-uno{
        width: 30%;
        margin-left: 4rem;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 0;
    }
    .circle{
        width: 290px;
        height: 290px;
    }
    .img--portada{
        max-width: 225px;
    }
    .Acerca-de-mi{
        width: calc(100% - 3rem);
        margin: 0 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
    .Acerca-de-mi>div{
        margin: 0 3rem;
        width: 75%;
    }
    .abilities{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .abilities>h2{
        align-self: flex-start;
    }
    .skills{

        display: flex;
    
        margin: 1rem 0;
        width: 70%;
        padding: 1rem;
        gap: 1rem;
    
        overflow-x: scroll;
        min-width: 500px;
        max-width: 1800px;
    }
    .experiencia-skills{
        flex-direction: row;
    
    }
    .experiencia--contenedor{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }
    .project{
        max-width: 40%;
        height: 40vh;
        
    }
    .project.Fitness-app{
        left: 0;
        margin-left: 3rem;
    }
    .project.Management-app{
        right: 0;
        margin-right: 3rem;
    }
    .portafolio{
        height: 50vh;
    }
    .portafolio-text{
        max-width: 40%;
        height: 40vh;
        margin: 2rem;
        position: absolute;
        right: 0;
        margin-right: 6rem;
        top: 0;
    }

    .contacto>h2{
        margin-left: 5.5rem;
    }
}